
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	font-weight: 300;
	color: #626177;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	padding-bottom: 100px;
	min-height: calc(100vh - 100px);
	position: relative;
}

a {
	color: #5851ff;
}

strong {
	font-weight: 500;
}

h1, h2, h3 {
	margin: 0;
	font-weight: 500;
}

h1 {
	margin-top: 3rem;
	font-size: 1rem;

}

h2 {
	font-size: 1.5rem;
	margin-top: 3rem;
}

p {
	line-height: 1.8em;
	margin-top: 0.75rem;
	margin-bottom: 1.5rem;
}

.container {
	margin: 0 auto;
	padding: 20px 40px;
	max-width: 700px;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 3.2em;
    line-height: normal;
	color: #16161d;
	font-weight: 700;
	margin-top: 80px;
}

.logo{
	display: inline-block;
	width: 50%;
	text-transform: lowercase;
	font-size: 26px;
    line-height: normal;
	color: #16161d;
	font-weight: 700;
	vertical-align: middle;
	margin: 0 -2px;
	text-decoration: none;
}

.logo img{
	vertical-align: middle;
	margin-right: 10px;
	display: inline-block;
}

.logo span{
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
}

ul{
	display: inline-block;
	width: 50%;
	margin: 0 -2px;
	vertical-align: middle;
	text-align: right;
	padding-left: 0;
	margin-top: 7px;
}

ul li{
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

ul li:first-child{
	margin-left: 0;
}

ul li:last-child{
	margin-right: 0;
}

ul li a{
    transition: border .3s,color .3s;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
    vertical-align: top;
    color: #8888a2;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -.02em;
}

ul li a:hover{
	border-bottom-color: rgba(136,136,162,.2);
}

textarea,
input{
	box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
	border: 0;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	margin-top: 50px;
	outline: 0;
	padding: 30px;
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
	font-family: monospace;
}

pre{
	box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
	font-size: 14px;
	background-color: #f8f8fc;
	margin-top: 40px;
}

.hljs{
	background-color: transparent;
	padding: 20px;
}

label{
	line-height: 24px;
	display: block;
	margin-top: 5px;
}

input{
	height: auto;
	padding: 20px;
	margin-top: 50px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

button{
	margin: 8px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
    box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
    outline: 0;
    letter-spacing: .04em;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
	cursor: pointer;
	display: inline-block;
	background-color: white;
}

button:hover{
	-webkit-box-shadow: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

#carbon{
	width: 48%;
	text-align: center;
	margin-left: 0;
	background-color: #16161d;
	color: white;
}

#create{
	margin-right: 0;
	width: 48%;
	float: right;
	text-align: center;
}

#hidden-code{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	height: 0;
	width: 0;
}

footer{
	background-color: #f8f8fc;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.copy{
	display: inline-block;
	width: 50%;
	font-size: 12px;
    line-height: normal;
	color: #abb2bf;
	vertical-align: middle;
	margin: 0 -2px;
}

@media only screen and (max-width: 600px) {
	body{
		padding-bottom: 60px;
		min-height: calc(100vh - 60px);
	}
    .container{
		padding: 20px;
	}
	h1{
		font-size: 2.2em;
		margin-top: 40px;
	}
	textarea{
		margin-top: 20px;
		height: 300px;
	}
	button{
		width: 100% !important;
		margin: 8px 0 !important;
		float: none !important;
	}
	footer{
		padding-top: 0;
		padding-bottom: 0;
	}
	footer ul{
		margin-top: 0;
	}
}